# Implementing Apriori algorithm in Python

# Example 1 Constructing Rules from Census Dataset Introduction

Data source: https://archive.ics.uci.edu/dataset/20/census+income

In [1]:
!pip install ucimlrepo

Collecting ucimlrepo
  Obtaining dependency information for ucimlrepo from https://files.pythonhosted.org/packages/3b/07/1252560194df2b4fad1cb3c46081b948331c63eb1bb0b97620d508d12a53/ucimlrepo-0.0.7-py3-none-any.whl.metadata
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\hydon\anaconda3\lib\site-packages (from ucimlrepo) (1.5.3)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\hydon\anaconda3\lib\site-packages (from ucimlrepo) (2023.7.22)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hydon\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hydon\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hydon\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\hydon\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [31]:
# importing module
import pandas as pd
import numpy as np
from ucimlrepo import fetch_ucirepo

In [ ]:
census_income = fetch_ucirepo(id=20) 
census_income.metadata

In [51]:
df = pd.read_csv("https://archive.ics.uci.edu/static/public/20/data.csv")
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

The census dataset provided in a CSV file consists of the attributes `age`, `sex`, `education`, `native-country`, `race`, `marital-status`, `workclass`, `occupation`, `hours-per-week`, `income`, `capital gain`, and `capital-loss`. The CSV file `census.csv` contains exactly 30162 rows and each row contains exactly 12 comma-separated values in the form attribute=value. 

First ten rows from `census.csv` Use this data to find patterns which would help make important data-driven decisions. For example, using the 10 lines above as input, we can find the following patterns that identify the groups with **no capital gain or loss**: 

* There are 7 people with (capital gain=0, capital-loss=0)
* There are 5 people with (native-country=United States, capital- gain=0, capital-loss=0)
* There are 5 people with (native-country United States, capital- gain=0)
* There are 8 people with (native-country=United States, capital- loss=0) 

The **support** of the set of attributes is defined as the ratio of "total number of records with the given attributes" to "total number of records in the dataset". For example, 

* The support of (capital-gain=0 capital-lass=0) is 7/10 = 0.7 
* The support of (native-country = United States, capital-gain=0, capital-loss=0) is 5/10 = 0.5 
* The support of (native-country = United States, capital-gain=0) is 5/10 = 0.5 
* The support of (native-country = United States, capital-loss = 0) ls 8/10 = 0.8 

We can now derive some rules X => Y, where X and Y describe the attributes set. The **confidence** of the rule is defined as the ratio of "total number of records with the given unique attributes in X and Y" to "total number of records with the given attributes in X”, i.e., the ratio of "support of X U Y" to "support of X". For example: 

* The confidence of the rule (native-country=United States, capital-gain=0) => (capital-loss=0) is 0.5/0.5 = 1.0 
* The confidence of the rule (native-country=United States, capital-loss=0) => (capital-gain=0) is 0.5/0.8 = 0.625 
* The confidence of the rule (capital-gain=None.capital-loss=0) => (native-country=United States) is 0.5/0.7 = 0.7142857 

#### Task 

Rearrange the given set of rules X => Y in descending order of **confidence**. It is guaranteed that no two rules have the same confidence. Also, the support of the attributes sets X and Y in each of the rules is greater than or equal to 0.3. 

#### Function Description 

Complete the *arrangingRules* function in the editor below. The function must return a string array of the rules in descending order of confidence. 

*arrangingRules* has the following parameter(s):

rules: an array of rules strings 

#### Constraints 

* 1 <= total number of rules <= 100 
* It is guaranteed that no two rules have the same confidence. 
* It is guaranteed that the support of the attributes sets X and Y in each of the rules is greater than or equal to 0.3. 

#### Input Format for Custom Testing

Input from stdin will be processed as follows and passed to the function.

The first line contains an integer *n*, the size of the string array *rules*.

Each of the next *n* lines contains a *rule*.

#### Sample Case 0
Sample input:
3
{native-country=United-States, capital-gain=0} => {capital-loss=0}
{capital-gain=0, capital-loss=0} => {native-country=United-States}
{native-country=United-States, capital-loss=0} => {capital-gain=0}

Sample output:
{native-country=United-States, capital-gain=0} => {capital-loss=0}
{native-country=United-States, capital-loss=0} => {capital-gain=0}
{capital-gain=0, capital-loss=0} => {native-country=United-States}

Explanation:
We sort the given array in descending order of confidence:
* The confidence of the rule {native-country=United-States, capital-gain=0} => {capital-loss=0} is 0.7896/0.8336 = 0.9471465
* The confidence of the rule {native-country=United-States, capital-loss=0} => {capital-gain=0} is 0.7896/0.8678 = 0.9098758
* The confidence of the rule {capital-gain=0, capital-loss=0} => {native-country=United-States} is 0.7896/0.86854 = 0.90911

In [56]:
data = df.head(10)[['capital-gain', 'capital-loss', 'native-country']]
data

   capital-gain  capital-loss native-country
0          2174             0  United-States
1             0             0  United-States
2             0             0  United-States
3             0             0  United-States
4             0             0           Cuba
5             0             0  United-States
6             0             0        Jamaica
7             0             0  United-States
8         14084             0  United-States
9          5178             0  United-States

In [94]:
def remove_curved_brackets(attributes_str):
    for curved_sign in ["{", "}"]:
        attributes_str = attributes_str.strip(curved_sign)
    return attributes_str

def get_key_value(kv_str):
    k, v = kv_str.split("=")
    if v == '0':
        v = int(v)
    return k, v

def arrangingRules(rules):
    num_rules = rules[0]
    # get attributes
    attributes = []
    for i in range(num_rules):
        rule = rules[i+1]
        X, Y = rule.split(" => ")
        X = remove_curved_brackets(X)
        Y = remove_curved_brackets(Y)
        X1, X2 = X.split(", ")
        attributes.append({"X1": X1, "X2": X2, "Y": Y})
    print(attributes)

    # calculate confidence
    # no need to calculate single 
    base_num = data.shape[0]
    confidence_list = []
    for rule in attributes: # rule == {'X1': 'native-country=United-States', 'X2': 'capital-gain=0', 'Y': 'capital-loss=0'}
        X1k, X1v = get_key_value(rule['X1'])
        X2k, X2v = get_key_value(rule['X2'])
        Yk, Yv = get_key_value(rule['Y'])
        X_count_num = data[(data[X1k] == X1v) & (data[X2k] == X2v)].shape[0]
        XY_count_num = data[(data[X1k] == X1v) & (data[X2k] == X2v) & (data[Yk] == Yv)].shape[0]
        support_X = X_count_num / base_num
        support_XY = XY_count_num / base_num
        print(support_XY, support_X)
        confidence = support_XY / support_X
        confidence_list.append(confidence)
    
    # output
    confidence_dict = {}
    for i in range(num_rules):
        confidence_dict[rules[i+1]] = confidence_list[i]
    
    result = sorted(confidence_dict, key=confidence_dict.get, reverse=True)


    return result

rules = [3, 
    "{native-country=United-States, capital-gain=0} => {capital-loss=0}",
    "{capital-gain=0, capital-loss=0} => {native-country=United-States}",
    "{native-country=United-States, capital-loss=0} => {capital-gain=0}"
]
result = arrangingRules(rules)
print("Result = ", result)

[{'X1': 'native-country=United-States', 'X2': 'capital-gain=0', 'Y': 'capital-loss=0'}, {'X1': 'capital-gain=0', 'X2': 'capital-loss=0', 'Y': 'native-country=United-States'}, {'X1': 'native-country=United-States', 'X2': 'capital-loss=0', 'Y': 'capital-gain=0'}]
0.5 0.5
0.5 0.7
0.5 0.8
Result =  ['{native-country=United-States, capital-gain=0} => {capital-loss=0}', '{capital-gain=0, capital-loss=0} => {native-country=United-States}', '{native-country=United-States, capital-loss=0} => {capital-gain=0}']

In [87]:
# Define the dictionary
rule_confidence = {
    "{native-country=United-States, capital-gain=0} => {capital-loss=0}": 1,
    "{capital-gain=0, capital-loss=0} => {native-country=United-States}": 0.987,
    "{native-country=United-States, capital-loss=0} => {capital-gain=0}": 1
}

# Sort the dictionary by value in descending order and get the keys
sorted_keys = sorted(rule_confidence, key=rule_confidence.get, reverse=True)
print(type(sorted_keys))
# Print the sorted keys
for key in sorted_keys:
    print(key)

<class 'list'>
{native-country=United-States, capital-gain=0} => {capital-loss=0}
{native-country=United-States, capital-loss=0} => {capital-gain=0}
{capital-gain=0, capital-loss=0} => {native-country=United-States}

In [89]:
sorted_keys

['{native-country=United-States, capital-gain=0} => {capital-loss=0}',
 '{native-country=United-States, capital-loss=0} => {capital-gain=0}',
 '{capital-gain=0, capital-loss=0} => {native-country=United-States}']

# Example 2

https://www.geeksforgeeks.org/implementing-apriori-algorithm-in-python/

Import dataset

In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
online_retail = fetch_ucirepo(id=352) 
  
# data (as pandas dataframes) 
X = online_retail.data.features 
y = online_retail.data.targets 
  
# metadata 
print(online_retail.metadata) 
  
# variable information 
print(online_retail.variables)

{'uci_id': 352, 'name': 'Online Retail', 'repository_url': 'https://archive.ics.uci.edu/dataset/352/online+retail', 'data_url': 'https://archive.ics.uci.edu/static/public/352/data.csv', 'abstract': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.', 'area': 'Business', 'tasks': ['Classification', 'Clustering'], 'characteristics': ['Multivariate', 'Sequential', 'Time-Series'], 'num_instances': 541909, 'num_features': 6, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': None, 'index_col': ['InvoiceNo', 'StockCode'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2015, 'last_updated': 'Fri Jan 05 2024', 'dataset_doi': '10.24432/C5BW33', 'creators': ['Daqing Chen'], 'intro_paper': {'title': 'Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining', 'authors': 'Daqing Chen, Sai Laing Sain, Kun Guo', 'published_in': 'Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3', 'year': 2012, 'url': 'https://www.semanticscholar.org/paper/e43a5a90fa33d419df42e485099f8f08badf2149', 'doi': '10.1057/dbm.2012.17'}, 'additional_info': {'summary': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. \nStockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.\nDescription: Product (item) name. Nominal.\nQuantity: The quantities of each product (item) per transaction. Numeric.\t\nInvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated.\nUnitPrice: Unit price. Numeric, Product price per unit in sterling.\nCustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.\nCountry: Country name. Nominal, the name of the country where each customer resides. ", 'citation': None}}
          name     role         type demographic  \
0    InvoiceNo       ID  Categorical        None
1    StockCode       ID  Categorical        None
2  Description  Feature  Categorical        None
3     Quantity  Feature      Integer        None
4  InvoiceDate  Feature         Date        None
5    UnitPrice  Feature   Continuous        None
6   CustomerID  Feature  Categorical        None
7      Country  Feature  Categorical        None

                                         description     units missing_values
0  a 6-digit integral number uniquely assigned to...      None             no
1  a 5-digit integral number uniquely assigned to...      None             no
2                                       product name      None             no
3  the quantities of each product (item) per tran...      None             no
4  the day and time when each transaction was gen...      None             no
5                             product price per unit  sterling             no
6  a 5-digit integral number uniquely assigned to...      None             no
7  the name of the country where each customer re...      None             no

In [10]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [9]:
df = pd.read_csv("https://archive.ics.uci.edu/static/public/352/data.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [11]:
df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [13]:
df['InvoiceNo'].unique()

array(['536365', '536366', '536367', ..., '581585', '581586', '581587'],
      dtype=object)

In [14]:
df[df['InvoiceNo'].str.contains('C')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

In [15]:
df['Description'] = df['Description'].str.strip()
df = df.dropna(axis=0, subset=['InvoiceNo'])
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')]

In [16]:
df.shape

(532621, 8)

## Splitting the data according to the region of transaction

In [17]:
df[df['Country'] == "France"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,12/1/2010 8:45,0.65,12583.0,France
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [18]:
df[df['Country'] == "France"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().reset_index()

     InvoiceNo                      Description  Quantity
0       536370       ALARM CLOCK BAKELIKE GREEN        12
1       536370        ALARM CLOCK BAKELIKE PINK        24
2       536370         ALARM CLOCK BAKELIKE RED        24
3       536370  CHARLOTTE BAG DOLLY GIRL DESIGN        20
4       536370          CIRCUS PARADE LUNCH BOX        24
...        ...                              ...       ...
8367    581587          CIRCUS PARADE LUNCH BOX        12
8368    581587      PACK OF 20 SPACEBOY NAPKINS        12
8369    581587    PLASTERS IN TIN CIRCUS PARADE        12
8370    581587        PLASTERS IN TIN STRONGMAN        12
8371    581587               SPACEBOY LUNCH BOX        12

[8372 rows x 3 columns]

In [19]:
df[df['Country'] == "France"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index()

Description,InvoiceNo,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
0,536370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,536852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,536974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,537065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,537463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,580986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,581001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,581171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,581279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,581587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
basket_France = df[df['Country'] == "France"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo')
basket_UK = df[df['Country'] == "United Kindom"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo')
basket_Por = df[df['Country'] == "portugal"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo')
basket_Sweden = df[df['Country'] == "Sewden"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo')

In [22]:
basket_France.head()

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536974,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
537065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
537463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Hot encoding

In [21]:
def hot_encode(x):
    if (x <= 0):
        return 0
    if (x >= 1):
        return 1

In [23]:
# Encoding the datasets 
basket_encoded = basket_France.applymap(hot_encode) 
basket_France = basket_encoded 
  
basket_encoded = basket_UK.applymap(hot_encode) 
basket_UK = basket_encoded 
  
basket_encoded = basket_Por.applymap(hot_encode) 
basket_Por = basket_encoded 
  
basket_encoded = basket_Sweden.applymap(hot_encode) 
basket_Sweden = basket_encoded

In [24]:
basket_France.head()

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Building the models and analyzing the results

In [25]:
# Building the model
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True)

# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric='lift', min_threshold=1)
rules = rules.sort_values(['confidence', 'lift'], ascending=[False, False])
rules.head()

c:\Users\hydon\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
45,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE),0.076531,0.765306,0.076531,1.000,1.306667,0.017961,inf,0.254144
259,"(RED TOADSTOOL LED NIGHT LIGHT, PLASTERS IN TI...",(POSTAGE),0.051020,0.765306,0.051020,1.000,1.306667,0.011974,inf,0.247312
271,"(PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...",(POSTAGE),0.053571,0.765306,0.053571,1.000,1.306667,0.012573,inf,0.247978
302,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER PLATES),0.102041,0.127551,0.099490,0.975,7.644000,0.086474,34.897959,0.967949
300,"(SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...",(SET/6 RED SPOTTY PAPER CUPS),0.102041,0.137755,0.099490,0.975,7.077778,0.085433,34.489796,0.956294

From the above output, it can be seen that paper cups and paper and plates are bought together in France. This is because the French have a culture of having a get-together with their friends and family atleast once a week. Also, since the French government has banned the use of plastic in the country, the people have to purchase the paper-based alternatives.

# Example 3

https://hands-on.cloud/apriori-algorithm-python-implementation/

In [ ]:
# dataset
data = pd.read_csv("../datasets/Market_Basket_Optimisation.csv")
# printing the shape of the dataset
data.shape

(7500, 20)

In [ ]:
data.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Top 10 most frequent items

In [ ]:
transaction = []
for i in range(0, data.shape[0]):
    for j in range(0, data.shape[1]):
        transaction.append(data.values[i, j])
transaction = np.array(transaction)
#  Transform Them a Pandas DataFrame
df = pd.DataFrame(transaction, columns=["items"]) 
df.head()

       items
0    burgers
1  meatballs
2       eggs
3        nan
4        nan

In [ ]:
df.shape

(150000, 1)

In [ ]:
# Put 1 to Each Item For Making Countable Table, to be able to perform Group By
df['incident_count'] = 1
#  Delete NaN Items from Dataset
indexNames = df[df['items'] == 'nan'].index
df = df.drop(indexNames)
df.head()

        items  incident_count
0     burgers               1
1   meatballs               1
2        eggs               1
20    chutney               1
40     turkey               1

In [ ]:
df.shape

(29343, 2)

In [ ]:
df_table = df.groupby('items').sum().sort_values('incident_count', ascending=False).reset_index()
df_table

             items  incident_count
0    mineral water            1787
1             eggs            1348
2        spaghetti            1306
3     french fries            1282
4        chocolate            1230
..             ...             ...
115        bramble              14
116          cream               7
117        napkins               5
118    water spray               3
119      asparagus               1

[120 rows x 2 columns]

In [ ]:
df_table.head(10).style.background_gradient(cmap='Greens')

In [ ]:
# importing required module
import plotly.express as px
# to have a same origin
df_table["all"] = "all" 
# creating tree map using plotly
fig = px.treemap(df_table.head(30), path=['all', "items"], values='incident_count',
                  color=df_table["incident_count"].head(30), hover_data=['items'],
                  color_continuous_scale='Greens',
                )
# ploting the treemap
fig.show()

c:\Users\hydon\anaconda3\Lib\site-packages\plotly\express\imshow_utils.py:24: DeprecationWarning: `np.bool8` is a deprecated alias for `np.bool_`.  (Deprecated NumPy 1.24)
  np.bool8: (False, True),

c:\Users\hydon\anaconda3\Lib\site-packages\plotly\io\_renderers.py:395: DeprecationWarning:

distutils Version classes are deprecated. Use packaging.version instead.

c:\Users\hydon\anaconda3\Lib\site-packages\plotly\io\_renderers.py:395: DeprecationWarning:

distutils Version classes are deprecated. Use packaging.version instead.

Data Pre-processing


* True – the transaction contains the item
* False – transaction does not contain the item

In [ ]:
transaction

array(['burgers', 'meatballs', 'eggs', ..., 'nan', 'nan', 'nan'],
      dtype='<U32')

In [ ]:
len(transaction)

150000

In [ ]:
# importing the required module
from mlxtend.preprocessing import TransactionEncoder
# initializing the transactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)
# dataset after encoded
dataset

,,&,a,b,c,d,e,f,g,h,...,p,r,s,t,u,v,w,x,y,z
0,False,False,False,True,False,False,True,False,True,False,...,False,True,True,False,True,False,False,False,False,False
1,False,False,True,True,False,False,True,False,False,False,...,False,False,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,True,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
149996,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
149997,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
149998,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
149999,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

We have 121 columns/features at the moment. Extracting the most frequent itemsets from 121 features would be compelling. So, we will start with the Top 50 items.

In [ ]:
first50 = df_table['items'].head(50).values
dataset = dataset.loc[:, first50]
dataset

KeyError: "None of [Index(['mineral water', 'eggs', 'spaghetti', 'french fries', 'chocolate',\n       'green tea', 'milk', 'ground beef', 'frozen vegetables', 'pancakes',\n       'burgers', 'cake', 'cookies', 'escalope', 'low fat yogurt', 'shrimp',\n       'tomatoes', 'olive oil', 'frozen smoothie', 'turkey', 'chicken',\n       'whole wheat rice', 'grated cheese', 'cooking oil', 'soup',\n       'herb & pepper', 'honey', 'champagne', 'fresh bread', 'salmon',\n       'brownies', 'avocado', 'hot dogs', 'cottage cheese', 'tomato juice',\n       'butter', 'whole wheat pasta', 'red wine', 'yogurt cake', 'light mayo',\n       'ham', 'energy bar', 'energy drink', 'pepper', 'cereals',\n       'vegetables mix', 'muffins', 'oil', 'french wine', 'fresh tuna'],\n      dtype='object')] are in the [columns]"